html:root 
    --primary: #fede55
    --secondary: #75aadb
    --link: #5575FE

    --success: #55FE8A
    --warning: #FE8A55
    // --warning: #fcbf49
    --alert: #FE5575

    --sky: #eef
    
    --black: #000
    --dark: #333
    --light: #eee
    --white: #fff