.container
  display: flex
  height: 100vh
  min-height: 100vh
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 0 0.5rem

.main
  display: flex
  flex: 1
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 5rem 0

.footer
  display: flex
  width: 100%
  height: 100px
  align-items: center
  justify-content: center
  border-top: 1px solid #eaeaea

  & a
    display: flex
    flex-grow: 1
    align-items: center
    justify-content: center

.title a
  color: #0070f3
  text-decoration: none

  &:hover,

  &:focus,

  &:active
    text-decoration: underline

.title
  margin: 0
  // font-size: 4rem
  line-height: 1.15

  &,
  .description
    text-align: center

  // &
  //   font-size: 1.5rem
  //   line-height: 1.5

.grid
  display: flex
  max-width: 800px
  flex-wrap: wrap
  align-items: center
  justify-content: center
  margin-top: 3rem

.card
  width: 45%
  padding: 1.5rem
  border: 1px solid #eaeaea
  margin: 1rem
  border-radius: 10px
  color: inherit
  text-align: left
  text-decoration: none
  transition: color 0.15s ease, border-color 0.15s ease

  &:hover,

  &:focus,

  &:active
    border-color: #0070f3
    color: #0070f3

  & h2
    margin: 0 0 1rem 0
    font-size: 1.5rem

  & p
    margin: 0
    font-size: 1.25rem
    line-height: 1.5

.logo
  height: 1em
  margin-left: 0.5rem

@media (max-width: 600px)
  .grid
    width: 100%
    flex-direction: column
